<template>
  <b-card class="affiliate-card mb-3">
    <span  class="mb-0" @click="showMapModal">
      <i class="fa fa-map-marker">&nbsp;</i><strong>{{ affiliate.name }}</strong> / {{ affiliate.municipality }}
    </span>
    <span slot="footer" class="card-text category" @click="filterCategory">
      <b-badge href="#" variant="primary">{{ affiliate.category }}</b-badge>
    </span>
  </b-card>
</template>
<script>
  import { mapActions } from 'vuex';

  export default {
    data() {
      return {};
    },
    name: 'AffiliateItem',
    props: ['affiliate', 'category_id'],
    methods: {
      filterCategory() {
        this.$store.dispatch('setCategory', this.category_id);
      },
      showMapModal() {
        this.$store.dispatch('selectAffiliate', this.affiliate.id);
        this.$store.dispatch('handleMapModalVisibility');
      },
      ...mapActions([
        'setCategory',
        'handleMapModalVisibility',
      ]),
    },
  };
</script>
<style>
  .affiliate-card span {
    cursor: pointer;
  }
  .card-body {
    min-height: 100px;
  }
</style>
