<template>
  <div>
    <SearchFilter/>
    <div class="results row" v-if="showResults">
      <b-modal
          v-model="showMap"
          ref="businessModal"
          @hide="handleMapModalVisibility"
          @show="fetchAffiliate"
          ok-only
      >
        <div slot="modal-header" class="col-12">
          <span class="float-left">Informaci&oacute;n del negocio</span>
          <div slot="modal-header-close" class="float-right">
            <button type="button" aria-label="Close" class="close" @click="hideModal">×</button>
          </div>
        </div>

        <AffiliateDetail :affiliate="affiliate" :show="false"/>

      </b-modal>
      <div
          v-for="affiliate in results"
          class="associate col-xs-12 col-sm-12 col-md-6 col-lg-4"
          :key="affiliate.id"
      >
        <AffiliateItem :affiliate="affiliate" :category_id="affiliate.category_id"/>
      </div>
      <!-- add the component right after your list -->
      <mugen-scroll :handler="fetchData" :should-handle="!loading">
        {{ loadingMessage }}
      </mugen-scroll>
    </div>
    <h3 v-else>
      No hay resultados para los filtros seleccionados
    </h3>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import MugenScroll from 'vue-mugen-scroll';

  import SearchFilter from './search-filter';
  import AffiliateItem from './affiliates-list-item';
  import AffiliateDetail from './affiliate-detail';

  export default {
    name: 'AffiliatesList',
    data() {
      return {
        affiliates: {},
        loading: false,
        affiliateId: null,
      };
    },
    components: {
      AffiliateDetail,
      SearchFilter,
      AffiliateItem,
      MugenScroll,
    },
    created() {
      this.getResults();

      this.$store.watch(
          () => this.showMap,
          (oldValue) => {
            this.showMap = oldValue;
          },
      );
    },
    methods: {
      fetchData() {
        this.loading = true;
        this.increaseSearchPage();
        this.getResults();
        this.loading = false;
      },
      hideModal() {
        this.$refs.businessModal.hide();
      },
      ...mapActions([
        'getResults',
        'increaseSearchPage',
        'handleMapModalVisibility',
        'fetchAffiliate',
      ]),
    },
    computed: mapState({
      affiliate: state => state.affiliate,
      showResults: state => state.results.length,
      showMap: state => state.showMap,
      results: state => state.results,
      loadingMessage: state => state.loadingMessage,
    }),
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
