<template>
  <div id="affiliate">
    <h1>{{ affiliate.name }}</h1>
    <h4>{{ affiliate.category }}</h4>
    <span class="label">Calle: </span><span class="address">{{ affiliate.street }}</span> <br/>
    <span class="label">Colonia: </span><span class="address">{{ affiliate.neighborhood }}</span><br/>
    <span class="label">C.P.: </span><span class="address">{{ affiliate.zipcode }}</span><br/>
    <span class="label">Municipio: </span><span class="address">{{ affiliate.municipality }}</span><br/>
    <div class="row">
      <div class="col-6 offset-3">
        <b-btn @click="geoCodeAddress" class="btn btn-primary mb-3 mt-3 text-center col-12">
          <i class="fa fa-map-marker">&nbsp;</i>
          Ubicar en mapa
        </b-btn>
      </div>
      <span class="small col-12">
          * La ubicaci&oacute;n es obtenida a partir de la
          direcci&oacute;n, por lo que podr&iacute;a no encontrarse o ser incorrecta
        </span>
    </div>
    <div id="map-container" v-if="addressFound && show">
      <gmap-map
          :center="center"
          :zoom="17"
          ref="gmap"
          style="width: 100%; height: 300px"
      >
        <gmap-marker
            :position="marker.position"
            :clickable="true"
            :draggable="true"
            @click="center=marker.position"
        />
      </gmap-map>
    </div>
    <h4 v-if="addressFound === false && show" class="text-center">
      Ups... No se encontró la direcci&oacute;n :(
    </h4>
  </div>
</template>

<script>
  import Vue from 'vue';
  import * as VueGoogleMaps from 'vue2-google-maps';

  Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyC0NUKQkSQlVWLCBUTNA981xpxhRkpe7Rk',
      libraries: 'places', // This is required if you use the Autocomplete plugin
      // OR: libraries: 'places,drawing'
      // OR: libraries: 'places,drawing,visualization'
      // (as you require)
    },
  });

  export default {
    name: 'AffiliateDetail',
    props: ['affiliate', 'show'],
    data() {
      return {
        marker: {
          position: {
            lat: 0,
            lng: 0,
          },
        },
        center: {
          lat: 10.0,
          lng: 10.0,
        },
        addressFound: false,
      };
    },
    computed: {
      fullAddress() {
        return `${this.affiliate.street}, ${this.affiliate.neighborhood}, ${this.affiliate.municipality}`;
      },
    },
    methods: {
      geoCodeAddress() {
        // eslint-disable-next-line no-undef
        const geocoder = new google.maps.Geocoder();

        const address = this.fullAddress;
        // eslint-disable-next-line no-undef
        geocoder.geocode({ address }, (results, status) => {
          this.show = true;
          // eslint-disable-next-line no-undef
          if (status === google.maps.GeocoderStatus.OK) {
            this.marker.position.lat = results[0].geometry.location.lat();
            this.marker.position.lng = results[0].geometry.location.lng();
            this.center = this.marker.position;
            this.addressFound = true;
            Vue.$gmapDefaultResizeBus.$emit('resize');
          } else {
            this.addressFound = false;
          }
        });
      },
    },
  };
</script>

<style scoped>
  .label {
    font-weight: 700;
  }
</style>
