<template>
  <div class="filter col-xs-12 col-md-6 col-lg-3">
    <label for="category"> Categoría:
      <b-form-select
        :value="selectedCategory"
        name="category"
        id="category"
        @change="setCategory">
        <option value="">Todas las categor&iacute;as</option>
        <option
          v-for="category in categories"
          :value="category.id">{{ category.category }}</option>
      </b-form-select>
    </label>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  import config from '../../config/index';


  export default {
    name: 'CategorySelector',
    data() {
      return {
        categories: [],
      };
    },
    created() {
      this.fetchCategories();
    },
    methods: {
      fetchCategories() {
        fetch(`${config.apiPath}/api/categories/`, {
          method: 'GET',
        }).then(response => response.json()).then((json) => { this.categories = json; });
      },
      ...mapActions([
        'setCategory',
      ]),
    },
    computed: mapState({
      selectedCategory: state => state.selectedCategory,
    }),
  };
</script>

<style scoped>
  .filter label{
    width: 100%;
  }
</style>
