<template>
  <div class="filter col-xs-12 col-md-6 col-lg-3">
    <label for="searchTerm"> Nombre del negocio:
      <b-form-input
        v-model="searchTerm"
        name="searchTerm"
        id="searchTerm"
        @keyup.native="setSearchTerm"
        placeholder="Nombre del negocio">
      </b-form-input>
    </label>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'SearchField',
    data() {
      return {
        searchTerm: '',
      };
    },
    methods: {
      ...mapActions([
        'setSearchTerm',
      ]),
    },
  };
</script>

<style scoped>
  .filter label{
    width: 100%;
  }
</style>
