<template>
  <div class="filter col-xs-12 col-md-6 col-lg-3">
    <label for="state">
      Estado:
      <b-form-select v-model="selectedState" @change="setLocationState" id="state" name="state">
        <option value="">Todos los estados</option>
        <option
            v-for="state in states"
            :key="state.id"
            :value="state.id">
          {{ state.name }}
        </option>
      </b-form-select>
    </label>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import config from '../../config/index';

  export default {
    name: 'StateSelector',
    data() {
      return {
        states: [],
        selectedState: '',
      };
    },
    created() {
      this.fetchStates();
    },
    methods: {
      fetchStates() {
        fetch(`${config.apiPath}/api/location/states/`, {
          method: 'GET',
        }).then(response => response.json()).then((json) => { this.states = json; });
      },
      ...mapActions([
        'setLocationState',
      ]),
    },
  };
</script>

<style scoped>
  .filter label{
    width: 100%;
  }

</style>
