<template>
  <div id="filters" class="row">
    <StateSelector/>
    <MunicipalitySelector/>
    <CategorySelector/>
    <SearchField/>
  </div>
</template>

<script>
  import StateSelector from './search-filter-selector-states';
  import MunicipalitySelector from './search-filter-selector-municipality';
  import CategorySelector from './search-filter-category';
  import SearchField from './search-filter-input-field';

  export default {
    name: 'SearchFilter',
    components: {
      StateSelector,
      MunicipalitySelector,
      CategorySelector,
      SearchField,
    },
  };
</script>

<style scoped>

</style>
