<template>
  <div class="filter col-xs-12 col-md-6 col-lg-3">
    <label for="municipality"> Municipio:
      <b-form-select
          v-model="selectedMunicipality"
          @change="setMunicipality"
          id="municipality"
          name="municipality">
        <option value="">Todos los municipios</option>
        <option
          v-for="municipality in municipalities"
          :key="municipality.id"
          :value="municipality.id">
          {{ municipality.name }}
        </option>
      </b-form-select>
    </label>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'MunicipalitySelector',
    data() {
      return {
        selectedMunicipality: '',
      };
    },
    methods: {
      ...mapActions([
        'setMunicipality',
      ]),
    },
    computed: mapState({
      municipalities: state => state.municipalities,
    }),
  };
</script>

<style scoped>
  .filter label{
    width: 100%;
  }
</style>
