<template>
  <div id="app" class="container-fluid">
    <h1 class="text-center">
      &iquest;D&oacute;nde vale?
    </h1>
    <router-view/>
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';
  import './assets/font-awesome/css/font-awesome.min.css';

  export default {
    name: 'app',
  };
</script>
